/*
    Default Stylesheet
    
    colors used in this theme
    light gray      #EFEFEF     body background
    almost black    #333333     All the black on the page.
    off white       #FEFEFE     All the white on the page.
    less light gray #B9B9B9     image borders (light gray was too light)
    yellow          #E9D818     menu item hover over
    light blue      #5366F3     visited and unvisited links
    lighter blue    #A5ADEB     hover over links
*/
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic,400italic);

body,
html {
    background: #efefef;
    color: #222;
    font: normal 400 1em 'Arvo', serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrap {
    background: #fefefe;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    margin:0 auto -26px;
    max-width: 2700px;
    min-height: 100%;
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 80vw;
}


/*** Header and Navigation ***/
header {
    margin: 0 auto;
}

header h1 {
    font: italic 700 2em 'Lobster Two', cursive;
    margin: 0 0 0 16px;
    text-shadow: 1px 1px #B9B9B9;
}

header h2 {
    font: normal small-caps 300 1em 'Arvo', serif;
    margin: 0 0 10px 56px;
}

nav {
    background: #333;
    color: #FEFEFE;
    padding:5px 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    border-right: 1px solid;
    display: inline;
    margin: 0;
    padding: 0 9px
}

nav li:last-child {
    border: none;
}

nav li a:link {
    color: #fefefe;
    text-decoration: none;
}

nav li a:visited {
    color: #fefefe;
}

nav li a:hover {
    color: #E9D818;
}


/*** Sections ***/
section {
    margin: 0 auto 26px;
    padding: 10px 2vw;
    min-width: 180px;
}

section h2 {
    font: italic 400 1.5em 'Lobster Two', cursive;
    margin: 1em 0 0 0;
}

section a:link,
section span {
    color: #5366F3;
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
}

section a:visited {
    color: #5366F3;
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
}

section a:hover,
section span:hover {
    color: #A5ADEB;
    text-decoration: underline;
}

section img {
    border: 1px solid #B9B9B9;
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 70vw;
}

section #contact a:link {
    border-radius: 4px;
    color: #222;
    font-size: 2em;
    padding: 2px;
    margin: 0 3px;
}

section #contact a:visited {
    color: #222;
    text-decoration: none;
}

section #contact a:hover {
    background: #222;
    color: #EFEFEF;
    text-decoration: none;
}


/*** Footer ***/
footer {
    border-top: 1px dashed;
    clear: both;
    height: 15px;
    margin: -26px auto 0;
    padding: 5px 0;
    min-width: 180px;
    width: 80vw;
}

footer p {
    margin: 0 0 0 10px;
}