/*
    Silver and Orange Stylesheet

    colors used in this theme
    silver       #C0C0C0     body background and image borders
    off black    #242424     All the black on the page.
    off white    #FEFEFE     All the white on the page.
    orange       #E18A07     Navigation, footers, headings, links.
    burnt orange #CC5500     hover over links

*/
/*@import url(http://fonts.googleapis.com/css?family=Habibi);*/
@font-face {
  font-family: 'Habibi';
  font-style: normal;
  font-weight: 400;
  src: local('Habibi'), local('Habibi-Regular'), url(../fonts/habibi.woff) format('woff');
}

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,300);*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans-light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/opensans-extrabold.woff) format('woff');
}

/*@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic,400italic);*/
@font-face {
  font-family: 'Lobster Two';
  font-style: italic;
  font-weight: 400;
  src: local('Lobster Two Italic'), local('LobsterTwo-Italic'), url(../fonts/lobstertwo-italic.woff) format('woff');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: italic;
  font-weight: 700;
  src: local('Lobster Two Bold Italic'), local('LobsterTwo-BoldItalic'), url(../fonts/lobstertwo-bolditalic.woff) format('woff');
}


body,
html {
    background: #C0C0C0;
    color: #242424;
    font: normal 400 1em 'Habibi', serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrap {
    background: #FEFEFE;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
    margin:0 auto -26px;
    max-width: 2700px;
    min-height: 100%;
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 80vw;
}


/*** Header and Navigation ***/
header {
    margin: 0 auto;
}

header h1 {
    color: #E18A07;
    font: italic 700 3.5em 'Lobster Two', cursive;
    margin: 0 0 10px 16px;
    text-shadow: 1px 1px #C0C0C0;
}

header h2 {
    color: #fefefe;
    font: normal small-caps 300 1.25em 'Open Sans', sans-serif;
    margin: 0 0 -23px 16px;
}

nav {
    background: #E18A07;
    background-image: linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -o-linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -moz-linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -webkit-linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -ms-linear-gradient(bottom, #D49F51 8%, #E18A07 54%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.08, #D49F51), color-stop(0.54, #E18A07));
    color: #FEFEFE;
    font: normal 800 1em 'Open Sans', sans-serif;
    padding:5px 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    border-right: 1px solid #242424;
    display: inline;
    margin: 0;
    padding: 0 9px;
    line-height: 40px;
}

nav li:last-child {
    border: none;
}

nav li a:link {
    color: #FEFEFE;
    text-decoration: none;
}

nav li a:visited {
    color: #FEFEFE;
}

nav li a:hover {
    color: #242424;
}


/*** Sections ***/
section {
    margin: 0 auto 26px;
    padding: 10px 2vw;
    min-width: 180px;
    line-height: 1.25;
    text-align: justify;
}

section h2 {
    color: #E18A07;
    font: italic 700 1.5em 'Lobster Two', cursive;
    margin: 1em 0 0 0;
}

section a:link,
section span {
    color: #E18A07;
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
}

section a:visited {
    color: #E18A07;
}

section a:hover,
section span:hover {
    color: #c50;
    text-decoration: underline;
}

section img {
    border: 1px solid #C0C0C0;
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 70vw;
}

section #contact a:link {
    border-radius: 4px;
    color: #242424;
    font-size: 2em;
    padding: 2px;
    margin: 0 3px;
}

section #contact a:visited {
    color: #242424;
    text-decoration: none;
}

section #contact a:hover {
    background: #E18A07;
    color: #EFEFEF;
    text-decoration: none;
}


/*** Footer ***/
footer {
    background-image: linear-gradient(bottom, #D49F51 92%, #E18A07 54%);
    background-image: -o-linear-gradient(bottom, #D49F51 92%, #E18A07 54%);
    background-image: -moz-linear-gradient(bottom, #D49F51 92%, #E18A07 54%);
    background-image: -webkit-linear-gradient(bottom, #D49F51 92%, #E18A07 54%);
    background-image: -ms-linear-gradient(bottom, #D49F51 92%, #E18A07 54%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.92, #D49F51), color-stop(0.54, #E18A07));
    clear: both;
    height: 16px;
    margin: -26px auto 0;
    padding: 5px 0;
    min-width: 180px;
    width: 80vw;
}

footer p {
    margin: 0 0 0 10px;
}